.root {
  &[data-disabled] {
    background-color: var(--brand-body-light-1);
    border: 1px solid var(--brand-body-light-1);
  }

  &[data-variant="filled"] {
    &[style*="--ai-bg: var(--brand-accent-main)"] {
      /* onClick states */
      &:active {
        background-color: var(--brand-accent-dark-2);
      }
    }

    &[style*="--ai-bg: var(--color-orange-main)"] {
      &:active {
        background-color: var(--color-orange-dark-2);
      }
    }

    &[style*="--ai-bg: var(--color-red-main)"] {
      &:active {
        background-color: var(--color-red-dark-2);
      }
    }

    &[style*="--ai-bg: var(--brand-body-light-2)"] {
      &:active {
        background-color: var(--brand-body-main);
      }
    }

    /* Sizes scoped within variant selector to avoid disruption with other components eg Tags  */
    /* &[data-size="xs"] {
      font-size: 12px;
      width: 24px;
      height: 24px;
    }

    &[data-size="sm"] {
      font-size: 14px;
      width: 32px;
      height: 32px;
    }

    &[data-size="md"] {
      font-size: 14px;
      width: 44px;
      height: 44px;
    }

    &[data-size="lg"] {
      font-size: 16px;
      width: 56px;
      height: 56px;
    } */
  }

  &[data-variant="outline"] {
    &[style*="--ai-color: var(--brand-accent-main)"] {
      &:active {
        background-color: var(--brand-accent-light-1);
      }
    }

    &[style*="--ai-color: var(--color-orange-main)"] {
      &:active {
        background-color: var(--color-orange-light-1);
      }
    }

    &[style*="--ai-color: var(--color-red-main)"] {
      &:active {
        background-color: var(--color-red-light-2);
      }
    }

    &[style*="--ai-color: var(--brand-body-dark-2)"] {
      &:active {
        background-color: var(--brand-body-light-1);
      }
    }

    /* Sizes scoped within variant selector to avoid disruption with other components eg Tags  */
    /* &[data-size="xs"] {
      font-size: 12px;
      width: 24px;
      height: 24px;
    }

    &[data-size="sm"] {
      font-size: 14px;
      width: 32px;
      height: 32px;
    }

    &[data-size="md"] {
      font-size: 14px;
      width: 44px;
      height: 44px;
    }

    &[data-size="lg"] {
      font-size: 16px;
      width: 56px;
      height: 56px;
    } */
  }

  &[data-variant="transparent"] {
    &[style*="--ai-color: var(--brand-accent-main)"] {
      &:active {
        background-color: var(--brand-accent-light-1);
      }
    }

    &[style*="--ai-color: var(--color-orange-main)"] {
      &:active {
        background-color: var(--color-orange-light-1);
      }
    }

    &[style*="--ai-color: var(--color-red-main)"] {
      &:active {
        background-color: var(--color-red-light-2);
      }
    }

    &[style*="--ai-color: var(--brand-body-dark-2)"] {
      &:active {
        background-color: var(--brand-body-light-1);
      }
    }

    /* Sizes scoped within variant selector to avoid disruption with other components eg Tags  */
    /* &[data-size="xs"] {
      font-size: 12px;
      width: 24px;
      height: 24px;
    }

    &[data-size="sm"] {
      font-size: 14px;
      width: 32px;
      height: 32px;
    }

    &[data-size="md"] {
      font-size: 14px;
      width: 44px;
      height: 44px;
    }

    &[data-size="lg"] {
      font-size: 16px;
      width: 56px;
      height: 56px;
    } */
  }
}
